#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.decks {
  display: grid;
  width: 700px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  color: black;

}

.decks li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 150px;
  background: white;
  border: 1px, solid white;
  box-shadow: 13px 11px 15px 0px rgb(86,86,86);
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
}

.decks li:hover{
  background: #eee;
}
